.xbox-slide2 {
    background-color: dimgray;
    background-size: contain;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
}

.xbox-slide-row-1, .xbox-slide-row-2, .xbox-slide-row-3 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.xbox-slide-row-1 {
    height: 22.5%;
}

.xbox-slide-row-2 {
    height: 40.5%;
}

.xbox-slide-row-3 {
    height: 37%;
}

.xbox-slide-column-1, .xbox-slide-column-2, .xbox-slide-column-3, .xbox-slide-column-bottom {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    color: white;
    max-height: 100%;
}

.xbox-slide-column-1 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 9%
}

.xbox-slide-column-2 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 22%;
}

.xbox-slide-column-3 {
}

.xbox-slide-column-bottom {
}